<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <%
    var easyuiTheme = "default";
    %>
    <!--引入bootstrap的Css文件-->
    <!--<link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet">-->

    <!--引入JQuery-->
    <script src="lib/jquery-2.0.3.js" charset="utf-8"></script>
    <!--引入JQuery.cookie-->
    <script src="lib/jquery.cookie.js" charset="utf-8"></script>
    <!--引入JQuery扩展-->
    <script src="lib/cxwExtJquery.js" charset="utf-8"></script>

    <!--引入bootstrap的Js文件-->
    <script src="lib/bootstrap/bootstrap.min.js" charset="utf-8"></script>

    <!--引入EasyUI-->
    <link id="easyuiTheme" rel="stylesheet" href="lib/easyui/themes/bootstrap/easyui.css"
          type="text/css">
    <script src="lib/easyui/jquery.easyui.min.js" charset="utf-8"></script>
    <script src="lib/easyui/locale/easyui-lang-zh_CN.js" charset="utf-8"></script>
    <link rel='stylesheet' href='/stylesheets/cxwExtIcon.css'/>
    <!--引入EasyUI扩展-->
    <script src="lib/cxwExtEasyUI.js" charset="UTF-8"></script>

    <!--引入javascript扩展-->
    <script src="lib/cxwExtJavascript.js" charset="utf-8"></script>

    <!--自定义工具JS-->
    <script src="lib/cxwUtil.js" charset="utf-8"></script>

    <!--全局css样式-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

</body>
</html>