<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <!--引入JQuery-->
    <script src="lib/jquery-2.0.3.js" charset="utf-8"></script>
    <!--引入JQuery扩展-->
    <script src="lib/cxwExtJquery.js" charset="utf-8"></script>
    <!--自定义工具JS-->
    <script src="lib/cxwUtil.js" charset="utf-8"></script>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        table td {
            border: 1px solid #000000;
        }

        table th {
            border: 1px solid #000000;
        }
    </style>
    <script>
        var taskCode = '<%= taskCode %>';
        var taskOrder = '<%= taskOrder %>';
        var patientCaseOrder = '<%= patientCaseOrder %>';
        /*页面加载成功后*/
        $(document).ready(function () {
            $.post('/cases/getPatientNursing', { //加载护理观察记录
                taskCode: taskCode,
                taskOrder: taskOrder,
                patientCaseOrder: patientCaseOrder,
                page: 1,
                rows: 30
            }, function (result) {
                if (result.rows.length > 0) {
                    $.each(result.rows, function (i, data) {
                        var datetime = data.recordDate + ' ' + data.recordTime;
                        var str = cxw.formatString('<tr><td colspan="5"><span>{0}</span></td><td colspan="2"><span>{1}</span></td><td><span>{2}</span></td>' +
                                '<td><span>{3}</span></td><td><span>{4}</span></td><td><span>{5}</span></td><td colspan="2"><span>{6}</span></td>' +
                                '<td colspan="2"><span>{7}</span></td><td colspan="2"><span>{8}</span></td><td colspan="3"><span>{9}</span></td>' +
                                '<td colspan="3"><span>{10}</span></td><td colspan="10" align="left"><span style="font-size: 12px;">{11}</span></td></tr>', datetime, data.sense, data.leftSize,
                                data.leftReaction, data.rightSize, data.rightReaction, data.heartRate, data.pulse, data.breath, data.bloodPressure, data.sao2, data.nurseMeasure);
                        $("#tableNurse").append(str);
                    });
                    $("#tableNurse").append(cxw.formatString('<tr><th style="border:none" align="left" colspan="33"><span>护士签名:</span><span>{0}</span></th></tr>',result.rows[0].nurseSign));
                }
            }); //结束护理观察记录
        });
    </script>
</head>
<body>
<table id="tableNurse" width="90%" cellpadding="0" cellspacing="0" align="center" border="0"
       style="table-layout:fixed;">
    <caption style="font-size:20px;"><b>重庆三峡中心医院院前急救病历</b></caption>
    <tr>
        <th rowspan="3" colspan="5">
            <span>时间</span>
        </th>
        <th rowspan="3" colspan="2">
            <span>神志</span>
        </th>
        <th colspan="4">
            <span>瞳孔</span>
        </th>
        <th rowspan="3" colspan="2">
            <span>心率</span><br><span>次/分</span>
        </th>
        <th rowspan="3" colspan="2">
            <span>脉搏</span><br><span>次/分</span>
        </th>
        <th rowspan="3" colspan="2">
            <span>呼吸</span><br><span>次/分</span>
        </th>
        <th rowspan="3" colspan="3">
            <span>血压</span><br><span>mmHg</span>
        </th>
        <th rowspan="3" colspan="3">
            <span>血氧饱和度</span>
        </th>
        <th rowspan="3" colspan="10">
            <span>护理措施</span>
        </th>
    </tr>
    <tr>
        <th colspan="2">
            <span>左</span>
        </th>
        <th colspan="2">
            <span>右</span>
        </th>
    </tr>
    <tr>
        <th>
            <span>大小</span>
        </th>
        <th>
            <span>反应</span>
        </th>
        <th>
            <span>大小</span>
        </th>
        <th>
            <span>反应</span>
        </th>
    </tr>
</table>
</body>
</html>