<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <!--引入JQuery-->
    <script src="lib/jquery-2.0.3.js" charset="utf-8"></script>
    <!--自定义工具JS-->
    <script src="lib/cxwUtil.js" charset="utf-8"></script>
    <style type="text/css">
        table {
            border-collapse: collapse;
        }

        table td {
            border: 1px solid #000000;
        }
    </style>
    <script>
        var taskCode = '<%= taskCode %>';
        var carIdentification = '<%= carIdentification %>';
        var patientCaseOrder = '<%= patientCaseOrder %>';
        var taskOrder = '<%= taskOrder %>';
        /*页面加载成功后*/
        $(document).ready(function () {
            //加载打印日期
            var datetime = getCurrentTime().split(' ')[0].split('-');
            $("#cYear").html(datetime[0]);
            $("#cMonth").html(datetime[1]);
            $("#cDay").html(datetime[2]);

            /*加载病历附表*/
            var URL = '/cases/getPatientScheduleByID?taskCode=' + taskCode + '&carIdentification=' + carIdentification + '&patientCaseOrder=' + patientCaseOrder;
            $.post(URL, function (result) {
                if (result.length > 0) {
                    var data = result[0];
                    var BP = (data.BPH || '') + '/' + (data.BPL || '');
                    $("#BP").html(BP);
                    $("#P").html(data.P);
                    $("#R").html(data.R);
                    $("#leftEye").html(data.leftEye);
                    $("#rightEye").html(data.rightEye);
                    $("#general").html(data.general);
                    $("#pathologicalReflex").html(data.pathologicalReflex);
                    $("#senseSchedule").html(data.senseSchedule);
                    var kczg = '';
                    if (data.kczg == 1) {
                        kczg = '有';
                    }
                    $("#kczg").html(kczg);
                    $("#eyeLight").html(data.eyeLight);
                    $("#heart").html(data.heart);
                    $("#lung").html(data.lung);
                    $("#head").html(data.head);
                    $("#breast").html(data.breast);
                    $("#abdomen").html(data.abdomen);
                    $("#spine").html(data.spine);
                    $("#limb").html(data.limb);
                    $("#others").html(data.others);
                    $("#CRAMS").html(data.CRAMS);
                    $("#T").html(data.T);
                    var schedule = '';
                    if (data.eeg == 1) {
                        schedule = '心电图&nbsp;'
                    }
                    if (data.sbgm == 1) {
                        schedule += '&nbsp;简易血糖仪';
                    }
                    $("#schedule").html(schedule);
                    $("#arrivePatientTime").html(data.arrivePatientTime);
                }
            });  //end 加载病历附表

            $.post('/cases/getTaskByID', { //加载任务信息
                taskCode: taskCode,
                taskOrder: taskOrder
            }, function (result) {
                if (result.length > 0) {
                    data = result[0];
                    $("#outCarTime").html(data.outCarTime);
                    $("#arriveSpotTime").html(data.arriveSpotTime);
                    $("#leaveSpotTime").html(data.leaveSpotTime);
                    $("#returnHospitalTime").html(data.returnHospitalTime);
                    $("#completeTime").html(data.completeTime);
                    $("#linkPhone").html(data.linkPhone);
                    $("#stationSpan").html(data.stationCode);
                    $("#addrAndPhone").html(data.localAddr);
                }
            }); //结束加载任务信息
            /*加载救治措施*/
            $.post('/cases/getCureMeasure', {
                taskCode: taskCode,
                carIdentification: carIdentification,
                patientCaseOrder: patientCaseOrder
            }, function (result) {
                if (result.length > 0) {
                    var handlesName = '';
                    $.each(result, function (i, ob) {
                        handlesName += ob.cureName + '&nbsp;';
                    });
                    $("#handles").val('').html(handlesName);
                }
            });//end
            /*加载病情告知*/
            $.post('/cases/getILLTeller', {
                taskCode: taskCode,
                carIdentification: carIdentification,
                patientCaseOrder: patientCaseOrder
            }, function (result) {
                var str1 = '';//病情告知
                var str2 = '';//患方要求
                var str3 = '';//其他
                var n1 = 1, n2 = 1, n3 = 1;
                if (result.length > 0) {
                    for (var i = 0; i < result.length; i++) {
                        if (result[i].type == 1) {
                            str1 += n1 + '.' + result[i].illTeller + '&nbsp;';
                            n1++;
                        }
                        if (result[i].type == 2) {
                            if (result[i].illTellerCode == 5) {
                                str2 += n2 + '.' + result[i].illTeller + '(&nbsp;' + result[i].station + '&nbsp;)&nbsp;';
                            } else {
                                str2 += n2 + '.' + result[i].illTeller + '&nbsp;';
                            }
                            n2++;
                        }
                        if (result[i].type == 3) {
                            if (result[i].illTellerCode == 6) {
                                $("#relation").html(result[i].relation);
                            } else if (result[i].illTellerCode == 7) {
                                str3 += result[i].tellOthers;
                                n3++;
                            }

                        }
                    }
                    $("#tellPat").html(str1);
                    $("#PatAsk").html(str2);
                    $("#tellOther").html(str3);
                }
            });//end
            var url = '/cases/getPatientCases?taskCode=' + taskCode + '&carIdentification=' + carIdentification + '&patientCaseOrder=' + patientCaseOrder;
            $.post(url, function (result) {//加载病历信息
                if (result.length > 0) {
                    data = result[0];
                    $("#patientName").html(data.patientName);
                    $("#sex").html(data.sex);
                    $("#age").html(data.age);
                    $("#toAddr").html(data.toAddr);
                    $("#workCode").html(data.work);
                    $("#identityCode").html(data.identity);
                    $("#patientCooperation").html(data.patientCooperationName);
                    $("#nationCode").html(data.nation);
                    $("#illnessCode").html(data.illness);
                    $("#deathCode").html(data.death);
                    $("#chiefComplaint").html(data.chiefComplaint);
                    $("#presentIllness").html(data.presentIllness);
                    $("#pastHistory").html(data.pastHistory);
                    $("#allergy").html(data.allergy);
                    $("#doctorDiagnosis").html(data.doctorDiagnosis);
                    $("#remark").html(data.remark);
                    $("#doctorSign").html(data.doctorSign);
                    $("#nurseSign").html(data.nurseSign);
                    $("#doctor").html(data.doctor);
                    $("#nurse").html(data.nurse);
                    $("#driver").html(data.driver);
                    $("#localAddr").html(data.localAddr);
                    $("#caseProvider").html(data.caseProvider);
                    $("#nationality").html(data.nationality);
                    $("#class").html(data.class);
                    $("#treatResult").html(data.treatResult);
                    $("#linkManPhone").html(data.linkMan + ' ' + data.linkPhone);
                    $("#patientReason").html(data.patientReason);
                    $("#eyeLight").html(data.eyeLight);
                    $("#otherHandles").html(data.otherHandle);
                    $("#signTime").html(data.signTime);
                    $("#responsiblePersonSign").html(data.responsiblePersonSign);
                    $("#tellerSign").html(data.tellerSign);
                    $("#patientCode").html(data.patientCode);
                }
            }); //结束加载病历信息
        });
    </script>
</head>
<body>
<table width="90%" cellpadding="0" cellspacing="0" align="center" border="0" style="table-layout:fixed;">
    <caption style="font-size:20px;"><b>三门峡市院前急救病历</b></caption>
    <tr>
        <td colspan="25" style="border:none">
            <div style="display: inline-block;width:23%;text-align: center">
                <span>医院(&nbsp;</span><span id="stationSpan"></span>
                <span>号站)</span>
            </div>
            <div style="display: inline-block;width:43%;text-align: left">
                <span id="cYear" style="display: inline-block;width: 50px;"></span>
                <span>年</span>
                <span id="cMonth" style="display: inline-block;width: 50px;"></span>
                <span>月</span>
                <span id="cDay" style="display: inline-block;width: 50px;"></span>
                <span>日</span>
            </div>
            <div style="display: inline-block;width:30%;text-align:left ">
                <span>病历编码:</span>
                <span id="patientCode"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <span>出车时间</span><br>
            <span id="outCarTime"></span>
        </td>
        <td colspan="5">
            <span>到达现场时间</span><br>
            <span id="arriveSpotTime"></span>
        </td>
        <td colspan="5">
            <span>离开现场时间</span><br>
            <span id="leaveSpotTime"></span>
        </td>
        <td colspan="5">
            <span>到达医院时间</span><br>
            <span id="returnHospitalTime"></span>
        </td>
        <td colspan="5">
            <span>完成时间</span><br>
            <span id="completeTime"></span>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <span>姓名:</span>
            <span id="patientName"></span>
        </td>
        <td colspan="5">
            <span>性别:</span>
            <span id="sex"></span>
        </td>
        <td colspan="5">
            <span>年龄:</span>
            <span id="age"></span>
        </td>
        <td colspan="5">
            <span>救治地点:</span>
            <span id="addrAndPhone"></span>
        </td>
        <td colspan="5">
            <span>到达病人身边时间</span><br>
            <span id="arrivePatientTime"></span>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <span>民族:</span>
            <span id="nationCode"></span>
        </td>
        <td colspan="5">
            <span>国籍:</span>
            <span id="nationality"></span>
        </td>
        <td colspan="5">
            <span>病史提供人:</span>
            <span id="caseProvider"></span>
        </td>
        <td colspan="10">
            <span>联系人及电话:</span>
            <span id="linkManPhone"></span>
        </td>
    </tr>
    <tr>
        <td colspan="15">
            <span>现场地点:</span>
            <span id="localAddr"></span>
        </td>
        <td colspan="10">
            <span>呼救原因:</span>
            <span id="patientReason"></span>
        </td>
    </tr>
    <tr>
        <td colspan="15">
            <span>病情:</span>
            <span id="illnessCode"></span>
        </td>
        <td colspan="10">
            <span>患方配合:</span>
            <span id="patientCooperation"></span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <span>疾病类型:</span>
            <span id="class" style="text-align: center;"></span>
        </td>
    </tr>
    <tr>
        <td colspan="15">
            <span>送往地点:</span>
            <span id="toAddr"></span>
        </td>
        <td colspan="10">
            <span>救治结果:</span>
            <span id="treatResult"></span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <span>主诉:</span>
            <span id="chiefComplaint"></span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <span>现病史:</span>
            <span id="presentIllness"></span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <span>药敏史:</span>
            <span id="allergy"></span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <span>既往史:</span>
            <span id="pastHistory"></span>
        </td>
    </tr>
    <tr align="left">
        <td align="center" rowspan="13">
            <span>体格检查</span>
        </td>
        <td colspan="7">
            <span>T:</span>
            <span style="display: inline-block;width: 80px;" id="T"></span>
            <span>℃</span>
        <td colspan="7">
            <span>&nbsp;P:</span>
            <span style="display: inline-block;width: 60px;" id="P"></span>
            <span>次/分</span>
        </td>
        <td colspan="10" align="center">
            <span>CRAMS计分(&nbsp;</span>
            <span id="CRAMS"></span>
            <span>&nbsp;)</span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="7">
            <span>R:</span>
            <span style="display: inline-block;width: 80px;" id="R"></span>
            <span>次/分</span>
        <td colspan="7">
            <span>B/P:</span>
            <span style="display: inline-block;width: 60px;" id="BP"></span>
            <span>mmHg</span>
        </td>
        <td>
            <span>项目</span>
        </td>
        <td colspan="3">
            <span>2分</span>
        </td>
        <td colspan="3">
            <span>1分</span>
        </td>
        <td colspan="3">
            <span>0分</span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="7">
            <span>一般情况:</span>
            <span id="general"></span>
        </td>
        <td colspan="7">
            <span>神志:</span>
            <span id="senseSchedule"></span>
        </td>
        <td rowspan="3">
            <span>循环</span>
        </td>
        <td colspan="3" rowspan="3">
            <span>毛细血管充盈良好或收缩压≥90mmHg</span>
        </td>
        <td colspan="3" rowspan="3">
            <span>毛细血管充盈迟缓或收缩压89~60mmHg</span>
        </td>
        <td colspan="3" rowspan="3">
            <span>无毛细血管充盈或收缩压≤59mmHg</span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="7">
            <span>瞳孔左:</span>
            <span style="display: inline-block" id="leftEye"></span>
            <span>mm</span>
            <span>右:</span>
            <span style="display: inline-block" id="rightEye"></span>
            <span>mm</span>
        </td>
        <td colspan="7">
            <span>对光反射:</span>
            <span id="eyeLight"></span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="14">
            <span>口唇紫绀:</span>
            <span id="kczg"></span>
        </td>

    </tr>
    <tr align="left">
        <td colspan="14">
            <span>头颈:</span>
            <span id="head"></span>
        </td>
        <td rowspan="2">
            <span>呼吸</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>正常</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>不正常（费力、浅或呼吸＞35次/min）</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>无自主呼吸</span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="14">
            <span>胸部:</span>
            <span id="breast"></span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="14">
            <span>心脏:</span>
            <span id="heart"></span>
        </td>
        <td rowspan="2">
            <span>胸腹</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>均无触痛</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>胸或腹有触痛</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>连枷胸、板状腹、血腹</span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="14">
            <span>肺部:</span>
            <span id="lung"></span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="14">
            <span>腹部:</span>
            <span id="abdomen"></span>
        </td>
        <td rowspan="2">
            <span>运动</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>正常（能按吩咐动作）</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>只对疼痛刺激有反应</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>无反应或体位固定</span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="14">
            <span>脊柱:</span>
            <span id="spine"></span>
        </td>

    </tr>
    <tr align="left">
        <td colspan="14">
            <span>四肢:</span>
            <span id="limb"></span>
        </td>
        <td rowspan="2">
            <span>言语</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>正常（对答切题）</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>言语错乱 语无伦次</span>
        </td>
        <td colspan="3" rowspan="2">
            <span>发音听不懂或不能发音</span>
        </td>
    </tr>
    <tr align="left">
        <td colspan="14">
            <span>其它:</span>
            <span id="others"></span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <span>辅助检查:(&nbsp;</span>
            <span id="schedule"></span>
            <span>&nbsp;)</span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <span>初步诊断:</span>
            <span id="doctorDiagnosis"></span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <div>
                <span>处理:</span>
                <span id="handles"></span>
            </div>
            <div>
                <span>其他处理:</span>
                <span id="otherHandles"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="8">
            <div style="display: inline-block;width: 50%;">
                <span>医生签字:</span>
                <span id="doctorSign"></span>
            </div>
            <div style="display: inline-block;">
                <span>护士签名:</span>
                <span id="nurseSign"></span>
            </div>
        </td>
        <td colspan="17" align="right">
            <span style="display: inline-block;width: 50px;"></span>
            <span>年</span>
            <span style="display: inline-block;width: 40px;"></span>
            <span>月</span>
            <span style="display: inline-block;width: 40px;"></span>
            <span>日</span>
            <span style="display: inline-block;width: 40px;"></span>
            <span>时</span>
            <span style="display: inline-block;width: 40px;"></span>
            <span>分</span>
        </td>
    </tr>
    <tr>
        <td colspan="25">
            <div>
                <span>病情告知:</span>
                <span id="tellPat"></span>
            </div>
            <div>
                <span>患者要求:</span>
                <span id="PatAsk"></span>
            </div>
            <div>
                <span>其他:</span>
                <span id="tellOther"></span>
            </div>
            <div>
                <span>告知人签名:</span>
                <span id="tellerSign" style="display: inline-block;width: 80px;"></span>
                <span style="display: inline-block;">
                    <span id="mYear" style="display: inline-block;width: 50px;"></span>
                     <span>年</span>
                     <span id="mMonth" style="display: inline-block;width: 50px;"></span>
                     <span>月</span>
                     <span id="mDay" style="display: inline-block;width: 50px;"></span>
                     <span>日</span>
                     <span id="mHour" style="display: inline-block;width: 50px;"></span>
                     <span>时</span>
                     <span id="mMinute" style="display: inline-block;width: 50px;"></span>
                     <span>分</span>
                </span>
            </div>
            <div>
                <span>患方对病人病情知情并愿意承担一切后果。</span>
                <span>责任人签名:</span>
                <span id="responsiblePersonSign" style="width: 50px;display: inline-block"></span>
                <span>责任人与患者关系:</span>
                <span id="relation" style="width: 50px;display: inline-block"></span>
                <span>签字时间</span>
                <span id="signTime"></span>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="25" style="border:none" align="right">
            <span>三门峡市120急救指挥中心监制</span>
        </td>
    </tr>
</table>
</body>
</html>