<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <% include ../head.html %>
    <script type="text/javascript">
        var grid;
        var viewEvent = function (rowData) {
            var url = "/eventDetail?acceptCount=" + rowData.acceptCount + "&taskCount=" + rowData.taskCount + '&event_id=' + rowData.id;
            window.open(url);
        };
        var exportData = function () {
            var url = "/center/exportCallHistory?startTime="
                    + $('#startTime').datetimebox('getValue') + "&endTime="
                    + $('#endTime').datetimebox('getValue') + "&alarmPhone=" + $('alarmPhone').val() + "&dispatcher="
                    + $('#dispatcher').val() + "&relevance="
                    + $('#relevance').combobox('getValue') + "&eventType=" + $('#eventType').combobox('getValue');
            window.location.href = url;
        };
        /* 初始化页面标签 */
        function init() {
            $('#startTime').datetimebox({
                required: true,
                value: firstOfMouth()
            });
            $('#endTime').datetimebox({
                value: getCurrentTime()
            });
            $('#relevance').combobox({
                url: '/dictionary/getDictionaryByType?type=13',
                valueField: 'id',
                textField: 'name',
                method: 'get',
                panelHeight: 'auto',
                editable: false,
                onLoadSuccess: function (data) {
                    if (data) {
                        $('#relevance').combobox('setValue', data[0].id);
                    }
                }
            });
            $('#eventType').combobox({
                url: '/dictionary/getDictionaryByType?type=14',
                valueField: 'id',
                textField: 'name',
                method: 'get',
                panelHeight: 'auto',
                editable: false,
                onLoadSuccess: function (data) {
                    if (data) {
                        $('#eventType').combobox('setValue', data[0].id);
                    }
                }
            });
            grid = $('#grid').datagrid(
                    {
                        url: '/center/getCallHistory',
                        pagePosition: 'bottom',
                        pagination: true,
                        striped: true,
                        singleSelect: true,
                        nowrap: false,
                        rownumbers: true,
                        idField: 'acceptTime',
                        pageSize: 20,
                        pageList: [10, 20, 30, 40, 50, 100, 200, 300, 400, 500],
                        columns: [[{
                            field: 'firstAcceptTime',
                            title: '首次受理时刻',
                            width: "15%",
                            align: 'center'
                        }, {
                            field: 'eventName',
                            title: '事件名称',
                            width: "15%",
                            align: 'center',
                            sortable: true
                        }, {
                            field: 'firstAlarmCall',
                            title: '呼救电话',
                            width: "10%",
                            align: 'center'
                        }, {
                            field: 'eventType',
                            title: '事件类型',
                            width: "15%",
                            align: 'center'
                        }, {
                            field: 'acceptCount',
                            title: '受理次数',
                            width: "10%",
                            resizable: true,
                            align: 'center'
                        }, {
                            field: 'taskCount',
                            title: '出车次数',
                            width: "10%",
                            resizable: true,
                            align: 'center'
                        }, {
                            field: 'eventSource',
                            title: '联动来源',
                            width: "14%",
                            align: 'center'
                        }, {
                            field: 'firstDisptcher',
                            title: '调度员',
                            width: "10%",
                            resizable: true,
                            align: 'center'
                        }]],
                        toolbar: '#toolbar',
                        onBeforeLoad: function (param) {
                            var varify = cxw.checkStartTimeBeforeEndTime(
                                    '#startTime', '#endTime');
                            if (!varify) {
                                parent.$.messager.alert('警告', '结束时间要大于开始时间', 'warning');
                            }
                        },
                        onDblClickRow: function (rowIndex, rowData) {
                            viewEvent(rowData);
                        }
                    });
        }

        $(document).ready(function () {
            init();
            grid.datagrid('load', cxw.serializeObject($('#searchForm')));
        });
    </script>
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
<div id="toolbar" style="display: none;">
    <form id="searchForm">
        <div>
            <div style="width: 23%;float: left;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">开始时刻:</label>
                <input id="startTime" name="startTime" style="width: 150px;"/>
            </div>
            <div style="width: 25%;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">结束时刻:</label>
                <input id="endTime" name="endTime" style="width: 150px;"/>
            </div>
            <div style="width: 23%;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">联动类型:</label>
                <input style="width: 150px" id="relevance" name="relevance"/></div>
            <div style="width: 25%;float: right;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">调度员:</label>
                <input style="width: 140px" id="dispatcher" name="dispatcher"/>
            </div>
        </div>
        <div>
            <div style="width: 23%;float: left;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">报警电话:</label>
                <input type="text" style="width: 145px" id="alarmPhone"
                       name="alarmPhone"/></div>
            <div style="width: 25%;display: inline-block;">
                <label style="width: 70px;text-align: right;display: inline-block;margin-right: 5px;">事件类型:</label>
                <input style="width: 150px" id="eventType" name="eventType"/></div>
            <div style="width: 25%;display: inline-block;">
                <a href="javascript:void(0);" class="easyui-linkbutton"
                   style="width: 100px;text-align: right;display: inline-block;margin-right: 5px;"
                   data-options="iconCls:'ext-icon-zoom',plain:true"
                   onclick=" grid.datagrid('load', cxw.serializeObject($('#searchForm')));">查询</a></div>
        </div>
    </form>
    <div class="tr">
        <div class="th">&nbsp;&nbsp;&nbsp;
            <a href="javascript:void(0);" class="easyui-linkbutton"
               data-options="iconCls:'ext-icon-table_go',plain:true"
               onclick="exportData();">导出</a></div>
    </div>
</div>

<div data-options="region:'center',fit:true,border:false">
    <table id="grid" data-options="fit:true,border:false"></table>
</div>


</body>
</html>