<!DOCTYPE html>
<html style="">
<head lang="zh">
    <meta charset="UTF-8">
    <title></title>
    <% include ../head.html %>
    <style>
        label {
            width: 80px !important;
            text-align: right !important;
            display: inline-block !important;
            margin-right: 5px !important;
            color: #000 !important;
        }

        .th {
            width: 24%;
            display: inline-block
        }

        .th_left {
            width: 25%;
            float: left;
            display: inline-block
        }

        .th_right {
            width: 25%;
            float: right;
            display: inline-block
        }

        .input_width {
            width: 15em;
        }

        .tr_height {
            margin-bottom: 3px;
        }

        .redLabel{
            color:red !important;
        }
    </style>
    <script>
        var taskCount = '<%= taskCount %>';
        var acceptCount = '<%= acceptCount %>';
        var event_id = '<%= event_id %>';
        var acceptData;
        var taskData;
        var acceptOrder = 1; //受理序号
        /*切换不同的受理序号*/
        var acceptPageChange = function (page) {
            if(page>0){
                $.get('/center/getTaskDataByEventId', {event_id: event_id, acceptOrder: page}, function (data) {
                    taskData = data;
                    taskCount = data.length;
                    console.info(taskData);
                    console.info(taskCount);
                    changeTaskTimePage();
                });
                for(var j=1;j<=acceptCount;j++){
                    if(j==page){
                        if(!$('#acceptPage'+j).hasClass('redLabel')){
                            $('#acceptPage'+j).addClass('redLabel')
                        }
                    }else{
                        if($('#acceptPage'+j).hasClass('redLabel')){
                            $('#acceptPage'+j).removeClass('redLabel')
                        }
                    }
                }
                for(var i =0;i<acceptCount;i++){
                    if(acceptData[i].acceptOrder==page){
                        if(acceptData[i].isNeedLitter){
                            acceptData[i].isNeedLitter='需要';
                        }else{
                            acceptData[i].isNeedLitter='不需要';
                        }
                        if(acceptData[i].isPositioned){
                            acceptData[i].isPositioned='是';
                        }else{
                            acceptData[i].isPositioned='否';
                        }
                        $('#formAccept').form('load', {
                            "illness":acceptData[i].illness,
                            "alarmCall":acceptData[i].alarmCall,
                            "waitAddr":acceptData[i].waitAddr,
                            "remark":acceptData[i].remark,
                            "illnessState":acceptData[i].illnessState,
                            "alarmReason":acceptData[i].alarmReason,
                            "acceptType":acceptData[i].acceptType,
                            "reason":acceptData[i].reason,
                            "deskNo":acceptData[i].deskNo,
                            "litter":acceptData[i].litter,
                            "localAddr":acceptData[i].localAddr,
                            "localAddrType":acceptData[i].localAddrType,
                            "sendAddr":acceptData[i].sendAddr,
                            "sendAddrType":acceptData[i].sendAddrType,
                            "patientCount":acceptData[i].patientCount,
                            "specialDemand":acceptData[i].specialDemand,
                            "linkMan":acceptData[i].linkMan,
                            "linkTel":acceptData[i].linkTel,
                            "patientName":acceptData[i].patientName,
                            "sex":acceptData[i].sex,
                            "age":acceptData[i].age,
                            "extensionTel":acceptData[i].extensionTel,
                            "isPositioned":acceptData[i].isPositioned,
                            "longitude":acceptData[i].longitude,
                            "latitude":acceptData[i].latitude,
                            "zoom":acceptData[i].zoom,
                            "ringTime":acceptData[i].ringTime,
                            "acceptBeginTime":acceptData[i].acceptBeginTime,
                            "acceptEndTime":acceptData[i].acceptEndTime,
                            "sendCommandTime":acceptData[i].sendCommandTime,
                            "isNeedLitter":acceptData[i].isNeedLitter,
                            "dispatcher":acceptData[i].dispatcher
                        });
                    }
                }
            }

        };
        var taskPageChange = function(page){
            if(page>0){
                for(var j=1;j<=taskCount;j++){
                    if(j==page){
                        if(!$('#taskPage'+j).hasClass('redLabel')){
                            $('#taskPage'+j).addClass('redLabel')
                        }
                    }else{
                        if($('#taskPage'+j).hasClass('redLabel')){
                            $('#taskPage'+j).removeClass('redLabel')
                        }
                    }
                }
                page = page-1;
                $('#formTask').form('load', {
                    "station":taskData[page].station,
                    "actualSign":taskData[page].actualSign,
                    "disptcher":taskData[page].disptcher,
                    "isFinished":taskData[page].isFinished,
                    "helpDistance":taskData[page].helpDistance,
                    "travlledDistance":taskData[page].travlledDistance,
                    "isStop":taskData[page].isStop,
                    "stopReason":taskData[page].stopReason,
                    "isFromStation":taskData[page].isFromStation,
                    "driver":taskData[page].driver,
                    "doctor":taskData[page].doctor,
                    "nurse":taskData[page].nurse,
                    "stretcherBearer":taskData[page].stretcherBearer,
                    "actualPatientCount":taskData[page].actualPatientCount,
                    "actualSendAddr":taskData[page].actualSendAddr,
                    "sendCommandTime":taskData[page].sendCommandTime,
                    "receiveCommandTime":taskData[page].receiveCommandTime,
                    "acceptTaskTime":taskData[page].acceptTaskTime,
                    "outTime":taskData[page].outTime,
                    "arriveSceneTime":taskData[page].arriveSceneTime,
                    "leaveSceneTime":taskData[page].leaveSceneTime,
                    "arriveHospitalTime":taskData[page].arriveHospitalTime,
                    "finishTime":taskData[page].finishTime,
                    "returnTime":taskData[page].returnTime,
                    "remark":taskData[page].remark
                });
            }  else  {
                $(':input','#formTask')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected');
            }

        };
        /*动态生成受理次数*/
        var changeAcceptTimePage = function () {
            if (acceptCount > 0) {
                var acceptPageStr = '';
                for (var i = 1; i <= acceptCount; i++) {
                    acceptPageStr += cxw.formatString('<label class="redLabel" id="acceptPage{0}" onclick="acceptPageChange({1});">第{2}次受理</label>',i,i,i)
                }
                $("#acceptNumber").append(acceptPageStr);
                acceptPageChange(1);
            } else {
                $("#acceptNumber").append('<label class="redLabel">第0次受理</label>');
                acceptPageChange(0);
            }
        };
        /*动态生成出车次数*/
        var changeTaskTimePage = function () {
            $("#taskNumber").empty();
            if (taskCount > 0) {
                var taskPageStr = '';
                for (var i = 1; i <= taskCount; i++) {
                    taskPageStr += cxw.formatString('<label class="redLabel" id="taskPage{0}" onclick="taskPageChange({1});">第{2}次出车</label>',i,i,i)
                }
                $("#taskNumber").append(taskPageStr);
                taskPageChange(1);
            } else {
                $("#taskNumber").append('<label class="redLabel">第0次出车</label>');
                taskPageChange(0);
            }
        };
        $(document).ready(function () {
            $.get('/center/getAcceptDataByEventId', {event_id: event_id}, function (data) {
                acceptData = data;
                acceptCount = data.length;
                console.info(acceptData);
                console.info(acceptCount);
                changeAcceptTimePage();
            });
            $('#btnSound').click(function(){
                $('#win').window({
                    width:400,
                    height:200,
                    modal:true,
                    title:'播放录音',
                    iconCls:'ext-icon-sound',
                    maximizable:false,
                    minimizable:false,
                    collapsible:false
                });
            });
            $("#btnMD").click(function(){
                var url = "/patientCaseDetail?event_id="+event_id;
                window.open(url);
            });

        });
    </script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',title:'受理描述',split:true" style="height:52%;padding:5px;background:#eee;">
    <div id="form" style="margin: 10px;">
        <form id="formAccept">
        <div class="tr_height">
            <div style="width: 50%;float: left;display: inline-block">
                <label class="label">病情描述:</label>
                <input name="illness" style="width: 37em;"/>
            </div>
            <div class="th">
                <label class="label">报警电话:</label>
                <input name="alarmCall" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">等车地点:</label>
                <input name="waitAddr" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div style="width: 50%;float: left;display: inline-block">
                <label class="label">备注:</label>
                <input name="remark" style="width: 37em;"/>
            </div>
            <div class="th">
                <label class="label">病情状态:</label>
                <input name="illnessState" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">报警原因:</label>
                <input name="alarmReason" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">受理类型:</label>
                <input name="acceptType" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">原因:</label>
                <input name="reason" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">坐席号:</label>
                <input name="deskNo" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">调度员:</label>
                <input name="dispatcher" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">现场地点:</label>
                <input name="localAddr" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">地点类型:</label>
                <input name="localAddrType" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">送往地点:</label>
                <input name="sendAddr" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">地点类型:</label>
                <input name="sendAddrType" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">接回人数:</label>
                <input name="patientCount" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">特殊需求:</label>
                <input name="specialDemand" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">联系人:</label>
                <input name="linkMan" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">联系电话:</label>
                <input name="linkTel" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">病人姓名:</label>
                <input name="patientName" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">性别:</label>
                <input name="sex" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">年龄:</label>
                <input name="age" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">分机:</label>
                <input name="extensionTel" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">是否定位:</label>
                <input name="isPositioned" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">经度:</label>
                <input name="longitude" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">纬度:</label>
                <input name="latitude" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">缩放级别:</label>
                <input name="zoom" class="input_width"/>
            </div>
        </div>
        <div>
            <div class="th_left">
                <label class="label">响铃时间:</label>
                <input name="ringTime" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">开始受理时间:</label>
                <input name="acceptBeginTime" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">结束受理时间:</label>
                <input name="acceptEndTime" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">发送指令时间:</label>
                <input name="sendCommandTime" class="input_width"/>
            </div>
        </div>
        <div style="line-height: 40px;vertical-align: middle">
            <div style="display: inline-block;float: left;width: 25%;">
                <label class="label">需要担架:</label>
                <input name="isNeedLitter" class="input_width"/>
            </div>
            <div id="acceptNumber" style="display: inline-block;float: right;margin-right: 4%;">
            </div>
        </div>
        </form>
    </div>
</div>
<div data-options="region:'center',title:'任务信息'" style="padding:5px;background:#eee;">
    <div id="form" style="margin: 10px;">
        <form id="formTask">
        <div class="tr_height">
            <div class="th_left">
                <label class="label">分站:</label>
                <input name="station" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">车辆标识:</label>
                <input name="actualSign" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">调度员:</label>
                <input name="disptcher" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">是否结束:</label>
                <input name="isFinished" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">急救公里数:</label>
                <input name="helpDistance" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">行驶公里数:</label>
                <input name="travlledDistance" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">是否中止:</label>
                <input name="isStop" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">中止原因:</label>
                <input name="stopReason" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">是否站内出动:</label>
                <input name="isFromStation" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">司机:</label>
                <input name="driver" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">医生:</label>
                <input name="doctor" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">护士:</label>
                <input name="nurse" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">担架工:</label>
                <input name="stretcherBearer" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">实际救治人数:</label>
                <input name="actualPatientCount" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">实际送往地点:</label>
                <input name="actualSendAddr" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">发送指令时刻:</label>
                <input name="sendCommandTime" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">接收命令时刻:</label>
                <input name="receiveCommandTime" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">接受任务时刻:</label>
                <input name="acceptTaskTime" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">出车时刻:</label>
                <input name="outTime" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">到达现场时刻:</label>
                <input name="arriveSceneTime" class="input_width"/>
            </div>
        </div>
        <div class="tr_height">
            <div class="th_left">
                <label class="label">离开现场时刻:</label>
                <input name="leaveSceneTime" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">到达医院时刻:</label>
                <input name="arriveHospitalTime" class="input_width"/>
            </div>
            <div class="th">
                <label class="label">完成时刻:</label>
                <input name="finishTime" class="input_width"/>
            </div>
            <div class="th_right">
                <label class="label">返回站中时刻:</label>
                <input name="returnTime" class="input_width"/>
            </div>
        </div>
        <div style="line-height: 30px;">
            <div style="width: 60%;float: left;display: inline-block">
                <label class="label">备注:</label>
                <input name="remark" style="width: 49em;"/>
            </div>
            <div id="taskNumber" style="display: inline-block;float: right;margin-right: 4%;line-height: 30px;">
            </div>
        </div>
        </form>
    </div>
</div>
<div data-options="region:'south',title:'',split:true" style="height:50px;">
    <div style="margin-top:  10px;">
        <div style="display: inline-block;margin-left: 20%;">
            <a id="btnMD" class="easyui-linkbutton" data-options="iconCls:'ext-icon-application'">院前病历</a>
        </div>
        <div style="display: inline-block;float:right;margin-right: 20%;">
            <a id="btnSound" class="easyui-linkbutton" data-options="iconCls:'ext-icon-sound'">事件录音</a>
        </div>
    </div>
</div>
<div id="win" style="margin: 0 auto;">
    <div style="width:300px;height: 150px;text-align: center;margin:  auto;padding-top: 10px; ">
        <audio controls>
            <source src="" type="audio/ogg">
            您的浏览器不支持 audio 元素。
        </audio>
    </div>

</div>
</body>
</html>